<h1>Flexible Payment</h1>

<h2>A <%=number_with_precision(@user_years, :precision=> 0) %> year loan of <%= number_to_currency(@user_principal)%>, with an annual interest rate of <%=number_to_percentage(@user_apr, :precision =>2)%>, requires a monthly payment of <%=number_to_currency(@user_monthly_payment)%>. </h2>
