<h1>Flexible Random Number</h1>
<h3>A random number between <%=number_with_precision(@beg_number, :precision=>0)%> and <%= number_with_precision(@end_number, :precision=>0) %> is <%= number_with_precision(@random_gen_number, :precision=>0)%>.
</h3>
