<h1>Payment Results</h1>

<dt> APR </dt>
<dd> <%=@user_apr%>%</dd>

<dt> Number of years </dt>
<dd> <%=number_with_precision(@user_years, :precision=> 0) %> </dd>

<dt> Principal </dt>
<dd> <%= number_to_currency(@user_principal)%> </dd>

<dt> Payment </dt>
<dd> <%= number_to_currency(@user_monthly_payment)%> </dd>
